body {
    margin: 0;
    background-color: #374885;
}

form {
    display: block;
}

textarea, input {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    border-radius: 4px;
}

textarea {
    margin: 10px;
    width: 75%;
    height: 10%
}

input[type=submit] {
    margin-left: 10px;
    padding: 5px;
    min-width: 150px;
}

.song-profile {
    font-family: 'Courier New', Courier, monospace;
    background-color: #b3c7ff;
    margin: 10px;
    padding: 5px;
    min-height: 160px;
    max-width: 75%;
    border-radius: 4px;
}

.song-profile h4 {
    font-style: italic;
    margin: 0;
}

.song-profile h2 {
    margin: 0;
}

.song-profile img {
    float: left;
    height: 150px;
    width: 150px;
    border: 3px solid white;
    margin-right: 5px;
}

.comments-table img {
    height: 50px;
    width: 50px;
}

.comments-table {
    font-family: 'Courier New', Courier, monospace;
    background-color: #EEEEEE;
    margin: 10px;
    border-radius: 4px;
    width: 75%;
}

.comments-table td {
    border-bottom: 5px solid #374885;
    border-collapse: collapse;
}