.footer {
    position: fixed;
    text-align: center;
    background-color: #ffc0d0;
    width: 100%;
    font-size: small;
    left: 0;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}