ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.icons {
    height: 50px;
    width: 50px;
}

.nav {
    display: inline-block;
    vertical-align: middle;
}

.nav-right {
    float: right;
    margin-right: 10px;
}

.login {
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 0;
    font-size: 18px;
}

#page-name {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0;
    font-size: 30px;
}

#nav-bar {
    background-color: #ffc0d0;
}